body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #03A9F4;
}
#footer{
  position: fixed;
  top: initial;    
  box-shadow: inset 0px 6px 8px -3px rgba(0, 0, 0, 0.4);
}
#centerText{
    font-size: 20px;
    padding-right: 7px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}